<!-- templates/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song Genre Detector</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
      padding: 20px;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
    }
    #result {
      margin-top: 20px;
    }
  </style>
</head>
<body>

  <div class="container">
    <h1 class="mt-5 mb-4 text-center">Song Genre Detector</h1>

    <form action="{{url_for('home')}}" method="post" enctype="multipart/form-data">
      <div class="input-group mb-3">
        <input type="file" name="file" class="form-control" accept=".wav, .mp3">
<!--        <input type="text", name='file', placeholder="enter 2"> <br><br>-->
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Detect Song Genre</button>
        </div>
      </div>
    </form>


    <div id="result" class="alert alert-success" style="display:none;">
      <strong>Genre:</strong> <span id="genre"></span>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
